In [1]:
#!pip install pyspark

In [2]:
import pyspark

In [3]:
import pandas as pd
df = pd.read_csv('test.csv')

In [4]:
df

        Name  age  Experience
0      Krish   31          10
1  Sudhanshu   30           8
2      Sunny   29           4

In [5]:
from pyspark.sql import SparkSession

In [6]:
spark = SparkSession.builder.appName("Practise").getOrCreate()

Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/04/07 20:24:18 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [7]:
spark

In [8]:
df_pyspark = spark.read.csv('test.csv')

In [9]:
df_pyspark

DataFrame[_c0: string, _c1: string, _c2: string]

In [10]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [11]:
df_pyspark.show()

+---------+---+----------+
|      _c0|_c1|       _c2|
+---------+---+----------+
|     Name|age|Experience|
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [12]:
df_pyspark = spark.read.option('header', 'true').csv('test.csv')

In [13]:
df_pyspark.show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
+---------+---+----------+

In [14]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: string (nullable = true)
 |-- Experience: string (nullable = true)


In this Video We will Cover
* PySpark Dataframe
* Reading The Dataset
* Checking the Datatypes of the Column(Schema)
* Selecting Columns And Indexing
* Check Describe option similar to Pandas
* Adding Columns
* Dropping columns
* Renaming Columns

In [17]:
df_pyspark.head(3)

[Row(Name='Krish', age='31', Experience='10'),
 Row(Name='Sudhanshu', age='30', Experience='8'),
 Row(Name='Sunny', age='29', Experience='4')]

In [20]:
df_pyspark.select(['Name','Experience']).show()

+---------+----------+
|     Name|Experience|
+---------+----------+
|    Krish|        10|
|Sudhanshu|         8|
|    Sunny|         4|
+---------+----------+

In [21]:
df_pyspark['Name']

Column<'Name'>

In [22]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'string'), ('Experience', 'string')]

In [23]:
df_pyspark.describe().show()

+-------+-----+----+-----------------+
|summary| Name| age|       Experience|
+-------+-----+----+-----------------+
|  count|    3|   3|                3|
|   mean| null|30.0|7.333333333333333|
| stddev| null| 1.0|3.055050463303893|
|    min|Krish|  29|               10|
|    max|Sunny|  31|                8|
+-------+-----+----+-----------------+

In [24]:
### Adding Columns in data frame
df_pyspark=df_pyspark.withColumn('Experience After 2 year',df_pyspark['Experience']+2)